*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b1020;
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:900px;
    background:#151b2f;
    border-radius:20px;
    padding:30px;
    box-shadow:0 0 30px rgba(0,0,0,.4);
}

.header{
    text-align:center;
    margin-bottom:25px;
}

.header h1{
    margin-bottom:10px;
}

.header p{
    color:#bdbdbd;
}

.generator{
    display:flex;
    flex-direction:column;
    gap:15px;
}

textarea{
    width:100%;
    height:140px;
    resize:none;
    border:none;
    outline:none;
    border-radius:12px;
    padding:15px;
    font-size:16px;
    background:#202842;
    color:white;
}

select{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
    background:#202842;
    color:white;
}

button{
    padding:14px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

#generateBtn{
    background:#4f7cff;
    color:white;
}

.actions{
    display:flex;
    gap:10px;
}

.actions button{
    flex:1;
    background:#293557;
    color:white;
}

.result{
    margin-top:30px;
    text-align:center;
}

#imageResult{
    width:100%;
    max-height:500px;
    object-fit:contain;
    border-radius:15px;
    background:#202842;
    display:none;
}

#status{
    margin-top:15px;
    color:#bdbdbd;
}.img-box{
  margin-top:15px;
  display:flex;
  justify-content:center;
}

#downloadBtn{
  padding:10px 14px;
  border:none;
  border-radius:10px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  font-size:13px;
  transition:0.2s;
}

#downloadBtn:hover{
  transform:scale(1.05);
}